html {
  font-size: 62.5%; }

html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

fieldset,
img {
  border: 0; }

li {
  list-style: none; }

.header {
  width: 100%;
  background-color: #3f454d;
  color: #ff4800;
  font-size: 1.4rem;
  line-height: 3.6rem; }
  .header-content {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 100rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header-logo {
    margin-right: 2rem; }
    .header-logo img {
      width: 12.3rem;
      height: 2.2rem; }
  .header-menu {
    display: block;
    padding: 0 2px; }
    .header-menu-dropdown {
      display: none; }
    .header-menu span:after {
      background: none;
      content: "\203a";
      display: inline-block;
      font-weight: 300;
      margin: auto 0;
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      -webkit-transition: all 0.35s ease-in-out;
      -o-transition: all 0.35s ease-in-out;
      transition: all 0.35s ease-in-out;
      direction: ltr;
      -webkit-transform: rotateZ(90deg);
      -ms-transform: rotate(90deg);
      transform: rotateZ(90deg);
      font-size: 3.9rem;
      height: 1.9rem;
      line-height: 1rem;
      width: 1.1rem;
      right: 1rem;
      bottom: 0;
      top: 0;
      position: relative;
      right: -10px;
      top: 6px; }
    .header-menu span:hover:after {
      -webkit-transform: rotateZ(270deg);
      -ms-transform: rotate(270deg);
      transform: rotateZ(270deg); }
  .header-language-button {
    text-decoration: none;
    color: #ff4800; }
    .header-language-button:hover {
      color: #ff7e00; }

.steps {
  margin: 0.8rem 0.8rem 2rem 0.8rem;
  font-size: 1.5rem;
  line-height: 3.1rem;
  color: #ffffff; }
  .steps ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .steps ol li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 2rem; }
      .steps ol li span {
        font-size: 2rem;
        width: 2.5rem;
        line-height: 2.5rem;
        border: 3px solid #4a575f;
        border-radius: 100%;
        text-align: center;
        margin-right: 1rem;
        color: #4a575f; }

.summary {
  background-color: #1e2731;
  color: #ffffff; }

.content {
  max-width: 100rem;
  margin: 0 auto;
  padding: 4rem;
  background-color: #3f454d; }

body {
  font-family: "Open sans", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300; }
